# ============================
# MLFLOW
# ============================
mlruns/
mlartifacts/

# ============================
# DOCKER
# ============================
*.tar
docker-data/

# ============================
# HR AI FILTER
# ============================
hr_ai_filter/mlruns/
hr_ai_filter/backend/mlruns/
hr_ai_filter/backend/data/results/

# ============================
# PDFs (opcional)
# ============================
*.pdf
