services:
  backend:
    image: josefernandez92/hr-ai-filter-backend:latest
    ports:
      - "8000:8000"

  frontend:
    image: josefernandez92/hr-ai-filter-frontend:latest
    ports:
      - "8501:8501"
    depends_on:
      - backend

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.12.1
    ports:
      - "5000:5000"